@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;1,400;1,600&family=Oswald:wght@300;400;500;600&family=Rubik:wght@400;500;600;700&display=swap');


* {
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Inter', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Rubik', sans-serif;
}

#div {
    margin: 25px;
    text-align: center;
    color: black;
    padding: 25px;
    border-radius: 6px;
}
button{
    padding: 3px 14px;
    margin-left: 12px;
    margin-top: 12px;            
    border-radius: 6px;
    cursor: pointer;
    background-color: white;
    color: black;
    border: none;
}
#timeDisplay{
    margin-top: 16.5%;
}
.bTn{
    font-size: 24px;
}
#stopWt{
    font-size: 22px;
    padding: 12px;
}
