@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;1,500&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;1,400;1,600&family=Oswald:wght@300;400;500;600&family=Rubik:wght@400;500;600;700&display=swap');

*{
    background-color: lightblue;
}
body{
    font-family: 'Inter', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Rubik', sans-serif;
}
#input1{
    max-width:  760px;
    min-width: 400px;
    width: 58%;
    margin-bottom: 0.7%;
    margin-top: 0.8%;
    margin-left: 23%;
    border: none;
    background-color: white;
    outline: none;
    padding: 5px 15px;
    border-radius: 50px;
    letter-spacing: 1px;
}
.btn{
    background-color: white;
    border: none;
    outline: none;
    font-size: 12px;
    padding: 5px 14px;
    cursor: pointer;
    margin-top: 8px;
    border-radius: 5px;
    letter-spacing: 0.5px;
    font-weight: 500;
}
#input2{
    width: 20%;
    border: none;
    background-color: white;
    outline: none;
    padding: 5px 15px;
    border-radius: 3px;
    letter-spacing: 1px;
    margin-left: 40%;
}
h1{
    margin-left: 47%;
}
#btn1{
    margin-left: 90%;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 5px 10px;
    cursor: pointer;
}
#div2{
    margin-top: 18%;
}
#res{
    margin-left: 28%;
    margin-top: 2%;
    
}
#res a{
    color: black;
    font-weight: bold;
}
#para{
    margin-left: 47%;
}

#magGlass{
    font-size: 18px;
    background-color: lightblue;
}